 Day 3
 Dictionery and conditional statements

In [ ]:
#{key:value}#key:value pair
car={"brand":"ford","model":"mustang","year":1964}#key should be unique but not values
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
car["brand"]
#car["model"]
#car["year"]

'ford'

In [ ]:
print(len(car))#it shows how many key value pairs
type(car)

3

dict

In [ ]:
employee=dict(name="shefy",age=34,salary=50000)
employee

{'name': 'shefy', 'age': 34, 'salary': 50000}

In [ ]:
employee=dict(name="shefy",age=34,salary=50000)
employee["name"]

'shefy'

In [ ]:
employee.get("salary")

50000

keys() for accessing the keys

In [ ]:
a=employee.keys()
a

dict_keys(['name', 'age', 'salary'])

values() for accessing the values

In [ ]:
b=employee.values()
b
employee["name"]="siyad"
employee.values()

dict_values(['siyad', 34, 50000])

for selecting key value pair using items()

In [ ]:
c=employee.items()
c
type(a)
#type(b)
#type(c)

dict_keys

update()for updating the dictionery( we can change more than one items at a time using update function)

In [ ]:
employee.update({"salary":60000,"dept":"IT"})#using update function
employee["place"]="trivandrum"#using direct assignment
employee["dummy"]=" "
employee

{'name': 'siyad',
 'age': 34,
 'salary': 60000,
 'dept': 'IT',
 'place': 'trivandrum',
 'dummy': ' '}

popitem() deleted the last item in the dictionery//pop() specified item we can delete// del used to delete

In [ ]:
employee.popitem()
employee.pop("age")
del employee["salary"]
employee
#del employee
employee

NameError: name 'employee' is not defined

In [ ]:
employee={"name":"siyad","age":28,"dept":"IT"}
employee
employee.clear()
employee

{}

In [ ]:

employee={"name":"siyad","age":28,"dept":"IT"}
employee["fname"]="km"
employee

{'name': 'siyad', 'age': 28, 'dept': 'IT', 'fname': 'km'}

nested dictionery

In [ ]:
employees={
    "emp1":
     {
         "name":"shefy",
         "age":34,
          "dept":"IT"},

 "emp2":
  {
      "name":"siyad",
      "age":36,
      "dept":"finance"
   },
  "emp3":
   {
       "name":"hibah",
       "age":25,
       "dept":"engineering"}
}
employees

{'emp1': {'name': 'shefy', 'age': 34, 'dept': 'IT'},
 'emp2': {'name': 'siyad', 'age': 36, 'dept': 'finance'},
 'emp3': {'name': 'hibah', 'age': 25, 'dept': 'engineering'}}

In [ ]:
employees["emp3"]
employees.get("emp2")

{'name': 'siyad', 'age': 36, 'dept': 'finance'}

In [ ]:
employees["emp3"]["dept"]#to select a specified value from the nested directory

'engineering'

In [ ]:
employees.get("emp3")["dept"]

'engineering'

In [ ]:
empl1={"name":"shefy","age":25,"salary":30000,"dept":"IT"}
empl2={"name":"siyad","age":35,"salary":40000,"dept":"engineering"}
empl3={"name":"hibah","age":22,"salary":50000,"dept":"mechanical"}

new_employees={
    "new_empl1":empl1,
    "new_empl2":empl2,
    "new_empl3":empl3

}
new_employees["new_empl1"]["dept"]#new employeesile specified employyeede dept
new_employees.get("new_empl1")["dept"]

'IT'

program flow control

In [ ]:
acc_balance=5000
withdraw=20000
if acc_balance>=withdraw:
  balance=acc_balance-withdraw
  print(f"your transaction successfull.you have {balance}  remaining in the account,and you withdrawed {withdraw} from your accont")
else:
   print(" Insufficient balance")

 Insufficient balance

IF ELSE

In [ ]:
user=input("enter user name\n")
password=input("enter your password\n")
if user=="admin"and password=="1234":
  print("login successful")
else:
  print("Invalid credentials")

enter user name
admin
enter your password
1234
login successful

elif

In [ ]:
a=60
if(a>=50):
  print("high value")
elif(a>=30):
  print("medium value")
elif(a>=15):
  print("low value")
else:
  print("least value")

high value

In [ ]:
 check_in_time=10
 if(check_in_time<=9):
    print("You are on time")
 elif(check_in_time>9 and check_in_time<10):
    print("late entry")
 else:
    print("Half day leave")

Half day leave

1. WRITE A PROGRAM TO CHECK WHETHER  THE NUMBER IS POSITIVE ,NEGATIVE OR ZERO

In [ ]:
number=-56
if(number<0):
  print("This is a negative number ")
elif(number>0):
  print("The number is a positive number")
elif(number==0):
  print("The number is Zero")
else:
  print("Try with a new number")

This is a negative number

2.APPLY DISCOUNTS BASED ON SHOPPING TOTAL PRICE ?
GREATER THAN 5000,GIVE 25% OFF,GREATER THAN 2000 GIVE 10% OTHERWISE NO DISCOUNT

In [ ]:
price=5500
if(price>=5000):
  disc_price=price*.25
  new_price=price-disc_price
  print(f"Congrats you got 25% of discount ! you have to pay only {new_price} rupees")
elif(price>=2000):
  disc_price=price*.10
  new_price=price-disc_price
  print(f"Congrats you got 10% of discount ! you have to pay only {new_price}rupees ")
else:
  print("Thank you for shopping with us and try our discount schemes")

Congrats you got 25% of discount ! you have to pay only 4125.0 rupees

MOVIE TICKET PRICING SYSTEM:
CREATE A PROGRAM TO CALCULATE THE TICKET PRICE BASED ON THE FOLLOWING CONDITIONS
AGE<5->FREE TICKET
AGE 5-12->150
AGE 13-59->250
AGE 60+->120 (SENIOR CITIZEN DISCOUNT)
*ALSO IF ITS FRIDAY,EVERYONE GETS A 20% DISCOUNT*

In [ ]:
age=int(input("Enter your age"))
day=input("Enter the day")
if(age<=5):
  print("Free ticket")
elif(age>5 and age<=12):
  ticket_price=150
  if(day=="friday"):
      disc_price=ticket_price-(150*.20)
      print(f"Today is friday and you have to get extra 20% off on the movie ticket you just pay {disc_price}")
  else:
    print(f"You have to pay {ticket_price}")
elif(age>=13 and age<=59):
    ticket_price=250
    if(day=="friday"):
      disc_price=ticket_price-(250*.20)
      print(f"Today is friday you got 20% discount,and you have to pay only{disc_price}")
    else:
      print(f"You have to pay{ticket_price}")
elif(age>=60):
    ticket_price=120
    if(day=="friday"):
      disc_price=ticket_price-(120*.20)
      print(f"Today is friday and you got 20% discount and you have to pay only{disc_price}")
    else:
        print(f"You have to pay {ticket_price}")

Enter your age65
Enter the daysaturday
You have to pay 120

SHOPPING CART SYSTEM

In [ ]:
cart={"Milk":45,"Bread":30,"eggs":60,"Butter":150}
#cart["buiscuit"]=24  #adding to the cart
#cart["chocolates"]=35
#cart["Milk"]=48      #updating the price of milk
cart.update({"biscuites":25,"icecream":50})
#cart.update({"biscuites":25,"icecream":50})
print(cart)
#cart.popitem()
#print(cart)
#print(len(cart))
value=cart.values()
print(value)

{'Milk': 45, 'Bread': 30, 'eggs': 60, 'Butter': 150, 'biscuites': 25, 'icecream': 50}
dict_values([45, 30, 60, 150, 25, 50])

movie ratings

In [ ]:
movies={"inception":9.0,"Titanic":7.8,"Avatar":8.2,"Interstellar":8.6,"The dark night":9.1}
#print(movies)
movie_ratings=movies.values()
print(movie_ratings)
movies["Titanic"]=8.3
#print(movies)
movies.update({"Oppenheimer":9.2})
print(movies)
del movies["Avatar"]
print(movies)

dict_values([9.0, 7.8, 8.2, 8.6, 9.1])
{'inception': 9.0, 'Titanic': 8.3, 'Avatar': 8.2, 'Interstellar': 8.6, 'The dark night': 9.1, 'Oppenheimer': 9.2}
{'inception': 9.0, 'Titanic': 8.3, 'Interstellar': 8.6, 'The dark night': 9.1, 'Oppenheimer': 9.2}