1.sum of all elements in a list of integers

In [ ]:
num=[1,2,3,4,5]
print(num)
result=num[0]+num[1]+num[2]+num[3]+num[4]
print(result)

[1, 2, 3, 4, 5]
15

2.print string length and first half

In [ ]:
str="welcome to python "
len(str)#question a
str[0:9]#question b

'welcome t'

write a pgm to enter a tuple of integers(78,45,32,19,82,77,40,39)and change the third value to 100

In [ ]:
num_tuple=(78,45,32,19,82,77,40,39)
num_list=list(num_tuple)
type(num_tuple)
type(num_list)
num_list[2]=100
print(num_list)
num_tuple=tuple(num_list)
print(num_tuple)

[78, 45, 100, 19, 82, 77, 40, 39]
(78, 45, 100, 19, 82, 77, 40, 39)

list

In [ ]:
num_list=[19,32,10,55,31,32,94,29,10,65,77,40,40]
print(num_list)
num_list.remove(32)#question a
print(num_list)
print(num_list)
del num_list[5]#question c
print(num_list)
num_list[9]=300#question d
print(num_list)
num_list[2]=200#question e
print(num_list)
len(num_list)
sum1=sum(num_list)#question f
print(sum1)
max1=max(num_list)#question f
print(max1)

[19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
[19, 10, 55, 31, 32, 29, 10, 65, 77, 40, 40]
[19, 10, 55, 31, 32, 29, 10, 65, 77, 300, 40]
[19, 10, 200, 31, 32, 29, 10, 65, 77, 300, 40]
813
300

5 The day has been Long

In [ ]:
str1="The day has been Long"
dup_sentense=(str1 + "     ")*4     #sentence with space
print(dup_sentense)

The day has been Long     The day has been Long     The day has been Long     The day has been Long

In [ ]:
str1="The day has been Long"
dup_sentense=(str1 + " \n\n ")*3     #sentence with newline
print(dup_sentense)

The day has been Long

 The day has been Long

 The day has been Long

modify the string with index 7 A

In [ ]:
str1="The day has been Long"
print(str2)

The day has been Long

string from 4 to 15

In [172]:
str1[4:15]

'day has bee'